.footer {
    padding: 60px 0;
}

.footer__copyright {
    display: flex;
    justify-content: center;
    color: #212121;
    opacity: 70%;
    font-weight: 400;
    line-height: 1;

}

@media screen and (max-width: 627px) {
    .footer {
        padding: 60px 0;
    }
}